@charset "UTF-8";

body {
  background-color: #fffeee;
}

div p {
  color: red;
}

p {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(10, 130, 165, .5);
}

h1 {
  font-family: 'M PLUS Rounded 1c';
}

h2 {
  font-family: '遊ゴシック体', 'Yu Gothic';
}

.container {
  display: flex;
}

.item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}
